.formInput {
  display: flex;
  flex-direction: row;
}

.buttonInput {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0;
}

button {
  padding: 10px 20px;
  border-radius: 10px;
  background-color: green;
  color: white;
  text-transform: uppercase;
}

button:hover {
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .formInput {
    display: flex;
    flex-direction: column;
  }
}