.statsBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.totals {
    display: flex;
    flex-direction: column;
    font-size: .8rem;
    margin-top: 15px;
    position: relative;
}

.profit, .trade, .yield {
    display: flex;
    justify-content: center;
    padding: 20px 10px;
    text-align: center;
    text-decoration: underline;
    text-transform: uppercase;
    font-weight: bold;
    color: red;

    &__list {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        list-style-type: none;
    }
}

.statsContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 10px 15px;

}

@media screen and (max-width: 768px) {
   .statsBar {
    display: flex;
    flex-direction: column;
   }

   .totals{
    text-align: center;
   }
}

@media screen and (max-width: 768px) {
    .graphs {
      transform: scale(.7);
      margin-top: -100px;
    }
  }
  
  @media screen and (max-width: 500px) {
    .graphs {
      transform: scale(.5);
      margin-top: -230px;
    }
  }
