header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: rgb(32, 32, 32);
  color: rgb(236, 236, 236);
  box-shadow: 0 4px 6px -6px #222;
}
  
.title, .total {
  display: flex;
  margin: 0 5rem;
}

.total h2 {
  font-size: 1.25rem;
  color: rgb(215, 215, 215)
}

header img {
  width: 50px;
  padding: 10px;
}

header h2 {
  display: flex;
  align-items: center;
  padding: 10px 20px;
}