html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  min-height: 100vh;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  color: rgb(226, 156, 26);
  box-shadow: 0 4px 6px -6px #222;
}

.title, .total {
  display: flex;
  margin: 0 5rem;
}

.total h2 {
  font-size: 1.25rem;
}

header img {
  width: 50px;
  /* margin-left: 5rem; */
  padding: 10px
}

header h2 {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  
}

.barChart, .scatterPlot {
  display: flex;
  justify-content: center;
  padding: 25px 20px;
  /* background-color: rgb(211, 211, 211); */
}

#barChart, #scatterPlot {
  border: 1px solid grey;
  padding: 50px;
  box-shadow: 3px 3px 3px 0 lightgrey;
  /* background-color: rgb(211, 211, 211); */
  border-radius: 2%;
}

.graphs {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  padding: 7px;
  border-radius: 30px;
  margin: 10px;
  min-width: 150px;
}

.formContainer {
  border: 1px solid black;
  padding: 25px 40px;
  margin-top: 20px;
  border-radius: 5%;
  background-color: #acacac;
}

.formInput, .buttonInput {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0;
}

button {
  padding: 10px 20px;
  border-radius: 10px;
  background-color: green;
  color: white;
  text-transform: uppercase;
}