html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
}

header {
  display: flex;
  justify-content: start;
  background-color: #fff;
  color: rgb(226, 156, 26);
  box-shadow: 0 4px 6px -6px #222;
}

header img {
  width: 50px;
  margin-left: 5rem;
  padding: 10px
}

header h2 {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  
}

.barChart {
  display: flex;
  justify-content: center;
  padding: 50px 0;
  /* background-color: rgb(211, 211, 211); */
}

#barChart {
  border: 1px solid grey;
  padding: 50px;
  /* background-color: rgb(211, 211, 211); */
  border-radius: 2%;
}